* {
  margin: 0;
  padding: 0;
}

*, *::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #3caea3;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3caea3;
}

.loader {
  margin-left: 50px;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 200px;
  opacity: 0.8;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
#post {
  padding-top: 50px;
  padding-bottom: 50px;
}

.post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.post__card {
  padding: 20px 40px;
  border-radius: 12px;
  background-color: #FFFFFF;
}
.post__card h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .post {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .post {
    grid-template-columns: 1fr;
  }
}